<?xml version="1.0" encoding="utf-8"?>
<MediConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Peers>
    <PeerConfig xsi:type="ServerPeerConfig">
      <Codec xsi:type="BecCodecConfig" />
      <Transport xsi:type="TcpTransportServerConfig" />
    </PeerConfig>
    <PeerConfig xsi:type="ClientPeerConfig">
      <Codec xsi:type="BecCodecConfig" />
      <Transport xsi:type="TcpTransportClientConfig">
        <IdleKeepAliveWait>120000</IdleKeepAliveWait>
        <RemoteHost>swdev234.luminatorusa.com</RemoteHost>
      </Transport>
      <IsGateway>true</IsGateway>
    </PeerConfig>
  </Peers>
  <Services>
    <ServiceConfigBase xsi:type="RemoteResourceServiceConfig">
      <ResourceDirectory>..\..\Data\SystemManager\Medi\Resources</ResourceDirectory>
    </ServiceConfigBase>
    <ServiceConfigBase xsi:type="PortForwardingServiceConfig" />
  </Services>
</MediConfig>