<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets async="false">
    <!--
    <target name="cache" xsi:type="LogCacher" flushesPerHour="1" cacheSizeKb="1024"
            fileName="protran.log"
            layout="${longdate} ${uppercase:${level}} ${logger} [${threadid}:${threadname}] ${message}${onexception: ${newline}${exception:format=tostring}}"
            concurrentWrites="true"
            keepFileOpen="false"
    />
    -->
  </targets>

  <targets async="true">
    <target xsi:type="Database" name="database" connectionString="Data Source=.;Initial Catalog=PerformanceLogger;Integrated Security=True"
            commandText="[PerformanceLogger].[dbo].[AddMarker] @SessionId = 1, @Category = @Category, @MarkerId = @MarkerId, @TickCount = @TickCount, @Tag = @Tag"
            >
      <parameter name="Category" layout="${event-context:item=Category}" />
      <parameter name="MarkerId" layout="${event-context:item=MarkerId}" />
      <parameter name="TickCount" layout="${event-context:item=TickCount}" />
      <parameter name="Tag" layout="${event-context:item=Tag}" />
    </target>
    
    <target xsi:type="ColoredConsole" name="console"
            layout="${time} &lt;${logger:shortName=true}&gt; [${event-context:item=TickCount}] ${message}${onexception: ${newline}${exception:format=tostring}}" />
  </targets>

  <rules>
    <!--
    <logger name="*" minlevel="Info" writeTo="file" />
    <logger name="*" minlevel="Info" writeTo="cache" />
    -->
    <logger name="*" minlevel="Debug" writeTo="console,database" />
  </rules>
</nlog>