<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="D:\Gorba\Center\Logs\ItcsClient\ProviderName" />
  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">
    <!-- add your targets here -->
    <target xsi:type="ColoredConsole" name="console" layout="${time} &lt;${logger:shortName=true}&gt; ${message}${onexception: ${newline}${exception:format=tostring}}" />
    <!-- Archive size: 100MB -->
    <target xsi:type="File" name="file" fileName="${logDirectory}\${shortdate}.log"
            archiveAboveSize="104857600"
            archiveNumbering="Sequence"
            maxArchiveFiles="10"
            concurrentWrites="true"
            keepFileOpen="false"
            layout="${time} ${uppercase:${level}} ${logger} [${threadid}:${threadname}] ${message}${onexception: ${newline}${exception:format=tostring}}" />
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="Gorba.Common.Utility.Core.Performance.NLogPerformanceLogInfoWriter" minlevel="Off" final="true" />
    <logger name="*" minlevel="Debug" writeTo="console,file" final="true" />
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>