<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0.1"/>
    </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding listenBacklog="256" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="256" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="512" maxStringContentLength="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8000/CommS/ManagementService" binding="netTcpBinding" contract="Gorba.Center.CommS.Wcf.ServiceModel.ICommsService" name="commsService"/>
      <endpoint address="net.tcp://localhost:8000/CommS/MessagingService" binding="netTcpBinding" contract="Gorba.Center.CommS.Wcf.ServiceModel.ICommsMessagingService" name="commsMessagingService"/>
      <endpoint address="net.tcp://localhost:8000/CommS/MessageSubscriptionService" binding="netTcpBinding" contract="Gorba.Center.CommS.Wcf.ServiceModel.ICommsMessageSubscription" name="commsMessageSubscriptionService"/>
    </client>
  </system.serviceModel>
</configuration>
