dotcore/prototypes/Identity/obj/
dotcore/prototypes/Identity/bin/
dotcore/prototypes/Gateway/AssetsAPI/obj/
dotcore/prototypes/Gateway/AssetsAPI/bin/
dotcore/prototypes/Gateway/LtgGateway/obj/
dotcore/prototypes/Gateway/LtgGateway/bin/
dotcore/prototypes/Gateway/ResourcesAPI/obj/
dotcore/prototypes/Gateway/ResourcesAPI/bin/

