<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Gorba.Center.Media.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Gorba.Center.Media.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Gorba.Center.Media.Core.Properties.Settings>
            <setting name="ImageExportPath" serializeAs="String">
                <value>Images</value>
            </setting>
            <setting name="VideoExportPath" serializeAs="String">
                <value>Videos</value>
            </setting>
            <setting name="MaxRecentResources" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ProjectPreviewsRelativePath" serializeAs="String">
                <value>Gorba\Center\Media\ProjectPreviews</value>
            </setting>
            <setting name="AppDataThumbnailsRelativePath" serializeAs="String">
                <value>Gorba\Center\Media\Thumbnails</value>
            </setting>
            <setting name="ThumbnailsRelativePath" serializeAs="String">
                <value>Thumbnails</value>
            </setting>
            <setting name="MaxRecentProjects" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AppDataResourcesRelativePath" serializeAs="String">
                <value>Gorba\Center\Media\Resources</value>
            </setting>
            <setting name="ResourcesRelativePath" serializeAs="String">
                <value>Resources</value>
            </setting>
            <setting name="PreviewPopupDelay" serializeAs="String">
                <value>00:00:01</value>
            </setting>
            <setting name="VideoThumbnailPlaceholder" serializeAs="String">
                <value>Gorba.Center.Media.Core.Resources.Images.ImageNotAvailable.png</value>
            </setting>
            <setting name="UriVideoThumbnailHash" serializeAs="String">
                <value>UriVideoPlaceholder</value>
            </setting>
            <setting name="UriVideoThumbnail" serializeAs="String">
                <value>pack://application:,,,/Resources/Images/Icons/video_44x44.png</value>
            </setting>
            <setting name="DateEvalFormat" serializeAs="String">
                <value>dd.MM.yyyy</value>
            </setting>
            <setting name="TimeEvalFormat" serializeAs="String">
                <value>hh\:mm\:ss</value>
            </setting>
            <setting name="PoolExportPath" serializeAs="String">
                <value>Pools</value>
            </setting>
            <setting name="SymbolExportPath" serializeAs="String">
                <value>Symbols</value>
            </setting>
            <setting name="RelativeFontsFolderPath" serializeAs="String">
                <value>Fonts</value>
            </setting>
            <setting name="CodeConversion_DefaultCode" serializeAs="String">
                <value>###</value>
            </setting>
            <setting name="CodeConversion_Filename" serializeAs="String">
                <value>codeconversion.csv</value>
            </setting>
            <setting name="InstalledFontList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Arial</string>
                        <string>Ebrima</string>
                        <string>Estrangelo Edessa</string>
                        <string>Gadugi</string>
                        <string>Gisha</string>
                        <string>Impact</string>
                        <string>Leelawadee</string>
                        <string>Lucida Console</string>
                        <string>Microsoft Sans Serif</string>
                        <string>MoolBoran</string>
                        <string>MV Boli</string>
                        <string>Plantagenet Cherokee</string>
                        <string>Segoe Script</string>
                        <string>Segoe UI</string>
                        <string>Segoe UI Symbol</string>
                        <string>Symbol</string>
                        <string>Tahoma</string>
                        <string>Times New Roman</string>
                        <string>Wingdings</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DuplicatedMediaPostfix" serializeAs="String">
                <value> ({0})</value>
            </setting>
            <setting name="ImageExtensions_Tft" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.jpg</string>
                        <string>.jpeg</string>
                        <string>.png</string>
                        <string>.gif</string>
                        <string>.bmp</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="VideoExtensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.asf</string>
                        <string>.avi</string>
                        <string>.mpg</string>
                        <string>.mp2</string>
                        <string>.mpeg</string>
                        <string>.mp4</string>
                        <string>.wmv</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="EdgeSnapTolerance" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AudioPauseDefaultDuration" serializeAs="String">
                <value>00:00:01</value>
            </setting>
            <setting name="TtsDefaultVoice" serializeAs="String">
                <value>Sharon22k_HQ</value>
            </setting>
            <setting name="AudioExportPath" serializeAs="String">
                <value>Audio</value>
            </setting>
            <setting name="DefaultAhdlcFontSmall" serializeAs="String">
                <value>G07X07_2_GORBA_V1.FON</value>
            </setting>
            <setting name="DefaultAhdlcFontBig" serializeAs="String">
                <value>G16X07_2_GORBA_V2.FON</value>
            </setting>
            <setting name="LedDotRadius" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LedDotSpace" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ImageExtensions_Led" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.egr</string>
                        <string>.egl</string>
                        <string>.egf</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ProjectSizeXmlPart" serializeAs="String">
                <value>20480</value>
            </setting>
            <setting name="UpdateStartDate" serializeAs="String">
                <value>2000-01-01</value>
            </setting>
            <setting name="UpdateEndDate" serializeAs="String">
                <value>2100-12-31</value>
            </setting>
            <setting name="TimeEvalConvertTimeSpanFormat" serializeAs="String">
                <value>HH\:mm\:ss</value>
            </setting>
            <setting name="InvalidFormulaNameChars" serializeAs="Xml">
                <value>
                    <ArrayOfChar xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <char>32</char>
                        <char>40</char>
                        <char>41</char>
                        <char>61</char>
                        <char>36</char>
                        <char>91</char>
                        <char>93</char>
                        <char>58</char>
                        <char>59</char>
                        <char>39</char>
                    </ArrayOfChar>
                </value>
            </setting>
        </Gorba.Center.Media.Core.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><userSettings>
        <Gorba.Center.Media.Core.Properties.Settings>
            <setting name="CreateProjectOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Arial</value>
            </setting>
            <setting name="FontHeight" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="FontWeight" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="HourCenterX" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="HourCenterY" serializeAs="String">
                <value>41</value>
            </setting>
            <setting name="HourHeight" serializeAs="String">
                <value>56</value>
            </setting>
            <setting name="HourWidth" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="HourX" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="HourY" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="HourZIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HourFilename" serializeAs="String">
                <value>HourHand.png</value>
            </setting>
            <setting name="MinuteCenterX" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MinuteCenterY" serializeAs="String">
                <value>53</value>
            </setting>
            <setting name="MinuteHeight" serializeAs="String">
                <value>68</value>
            </setting>
            <setting name="MinuteWidth" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MinuteX" serializeAs="String">
                <value>61</value>
            </setting>
            <setting name="MinuteY" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="MinuteZIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MinuteFilename" serializeAs="String">
                <value>MinuteHand.png</value>
            </setting>
            <setting name="SecondsCenterX" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="SecondsCenterY" serializeAs="String">
                <value>51</value>
            </setting>
            <setting name="SecondsHeight" serializeAs="String">
                <value>66</value>
            </setting>
            <setting name="SecondsWidth" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="SecondsX" serializeAs="String">
                <value>58</value>
            </setting>
            <setting name="SecondsY" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="SecondsZIndex" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SecondsFilename" serializeAs="String">
                <value>SecondsHand.png</value>
            </setting>
            <setting name="CsvMapping_DefaultExtension" serializeAs="String">
                <value>.csv</value>
            </setting>
        </Gorba.Center.Media.Core.Properties.Settings>
    </userSettings>
</configuration>
