<?xml version="1.0" encoding="utf-8"?>
<MediConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Peers>
    <PeerConfig xsi:type="ServerPeerConfig">
      <Codec xsi:type="BecCodecConfig" />
      <Transport xsi:type="TcpTransportServerConfig">
        <LocalPort>1596</LocalPort>
      </Transport>
      <BlockBroadcast>false</BlockBroadcast>
    </PeerConfig>
  </Peers>
  <Services>
    <ServiceConfigBase xsi:type="LocalResourceServiceConfig">
      <DataStore xsi:type="BackgroundSystemResourceDataStoreConfig" />
      <ResourceStore xsi:type="BackgroundSystemResourceStoreConfig" />
    </ServiceConfigBase>
  </Services>
</MediConfig>