<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	autoReload="true">
  <variable name="logsPath" value="${environment:CenterLogsPath}"/>
  <variable name="currentRoleInstanceId" value="${environment:CenterCurrentRoleInstanceId}"/>
  <variable name="deploymentId" value="${environment:CenterDeploymentId}"/>
  <targets async="true">
    <target xsi:type="File" name="file" fileName="${logsPath}\${deploymentId}-${currentRoleInstanceId}.log"
            layout="${longdate} ${uppercase:${level}} ${logger} [${threadid}:${threadname}] ${message}${onexception: ${newline}${exception:format=tostring}}"
            archiveFileName="${logsPath}\Archives\${deploymentId}-${currentRoleInstanceId}{#}_${shortdate}.log"
            archiveEvery="Day"
            archiveNumbering="Sequence"
            concurrentWrites="true"
            keepFileOpen="false" />
    <target xsi:type="Trace" name="azure"
            layout="${time} ${uppercase:${level}} &lt;${logger:shortName=true}&gt; ${message}${onexception: ${newline}${exception:format=tostring}}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
    <logger name="*" minlevel="Off" writeTo="azure" />
  </rules>
</nlog>