<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="Gorba.Motion.Protran.Core"/>
  </extensions>

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets async="false">
    <!--
    <target name="cache" xsi:type="LogCacher" flushesPerHour="1" cacheSizeKb="1024"
            fileName="protran.log"
            layout="${longdate} ${uppercase:${level}} ${logger} [${threadid}:${threadname}] ${message}${onexception: ${newline}${exception:format=tostring}}"
            concurrentWrites="true"
            keepFileOpen="false"
    />
    -->
  </targets>

  <targets async="true">
    <!--
    <target xsi:type="File" name="file" fileName="protran2.log"
            layout="${longdate} ${uppercase:${level}} ${logger} [${threadid}:${threadname}] ${message}${onexception: ${newline}${exception:format=tostring}}"
            archiveAboveSize="5120000"
            archiveNumbering="Sequence"
            concurrentWrites="true"
            keepFileOpen="false" />
    -->

    <target xsi:type="ColoredConsole" name="console"
						layout="${time} T[${threadid}:${threadname}] ${logger:shortName=true}.${callsite:className=False:methodName=True:includeSourcePath=False:cleanNamesOfAnonymousDelegates=True} * ${message}${onexception: ${newline}${exception:format=tostring}}" />

  </targets>

  <rules>
    <!--
    <logger name="*" minlevel="Info" writeTo="file" />
    <logger name="*" minlevel="Info" writeTo="cache" />
    -->
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>