<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="6.1.0" targetFramework="net452" />
  <package id="DimMock" version="1.0.2" targetFramework="net452" />
  <package id="FAKE" version="4.63.0" targetFramework="net452" />
  <package id="Faker.Net" version="1.0.3" targetFramework="net452" />
  <package id="NLog" version="4.3.0" targetFramework="net452" />
</packages>