<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets async="true">
    <target name="filtered" xsi:type="FilteringWrapper"
              condition="length('${event-context:item=Start}')>0">
    <target xsi:type="File" name="file" fileName="logs\${processname}_${event-context:item=Type}_${event-context:item=Start}.log"
						layout="${longdate} ${uppercase:${level}} ${logger} [${threadid}:${threadname}] ${message}${onexception: ${newline}${exception:format=tostring}}"
						archiveFileName="D:\Log\Archives\${processname}{#}_${shortdate}.log"
						archiveEvery="Day"
						archiveNumbering="Sequence"
						concurrentWrites="true"
						keepFileOpen="false" />      
    </target>

    <target xsi:type="ColoredConsole" name="console"
						layout="${time} &lt;${logger:shortName=true}&gt; ${message}${onexception: ${newline}${exception:format=tostring}}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="filtered" />
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>