<?xml version="1.0" encoding="utf-8"?>
<MediConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Peers>
     <PeerConfig xsi:type="ClientPeerConfig">
      <Codec xsi:type="BecCodecConfig" />
      <Transport xsi:type="TcpTransportClientConfig">
	    <RemoteHost>swdev234.luminatorusa.com</RemoteHost>
        <RemotePort>1596</RemotePort>
      </Transport>
      <BlockBroadcast>false</BlockBroadcast>
    </PeerConfig>
  </Peers>
</MediConfig>