<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Luminator.MultiCast.Receive.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <userSettings>
    <Luminator.MultiCast.Receive.Properties.Settings>
      <setting name="MulticastIp" serializeAs="String">
        <value>239.255.100.2</value>
      </setting>
      <setting name="MulticastPort" serializeAs="String">
        <value>31000</value>
      </setting>
      <setting name="FtpUserName" serializeAs="String">
        <value>LuminatorFTP</value>
      </setting>
      <setting name="FtpPassword" serializeAs="String">
        <value>hjkl!!</value>
      </setting>
      <setting name="FtpUrl" serializeAs="String">
        <value>ftp://swdev230</value>
      </setting>
    </Luminator.MultiCast.Receive.Properties.Settings>
  </userSettings>
</configuration>
