<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="EntityFramework.BulkInsert-ef6-ext" version="6.0.3.1" targetFramework="net452" />
  <package id="EntityFramework.MappingAPI" version="6.1.0.9" targetFramework="net452" />
  <package id="NLog" version="4.3.0" targetFramework="net452" />
</packages>