<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gorba.Motion.Protran.Tools.ComPortChecker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Gorba.Motion.Protran.Tools.ComPortChecker.Properties.Settings>
            <setting name="ComPorts" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>COM1</string>
                        <string>COM2</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="StartApp" serializeAs="String">
                <value>TFTUpdate.exe</value>
            </setting>
            <setting name="SleepTime" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Logging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RestartTimeOut" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="RestartCommand" serializeAs="String">
                <value>shutdown.exe</value>
            </setting>
            <setting name="RestartArguments" serializeAs="String">
                <value>-r -t 05 -d p</value>
            </setting>
            <setting name="SuccessCount" serializeAs="String">
                <value>1</value>
            </setting>
        </Gorba.Motion.Protran.Tools.ComPortChecker.Properties.Settings>
    </applicationSettings>
</configuration>