<?xml version="1.0" encoding="utf-8"?>
<MediConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Peers>
    <PeerConfig xsi:type="ServerPeerConfig">
      <Codec xsi:type="BecCodecConfig">
        <Encoding>utf-8</Encoding>
      </Codec>
      <Transport xsi:type="TcpTransportServerConfig">
        <LocalPort>1596</LocalPort>
      </Transport>
      <BlockBroadcast>false</BlockBroadcast>
    </PeerConfig>
  </Peers>
</MediConfig>