<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="C:/logs"/>
    <targets>
      <target xsi:type="File" name="file" fileName="${logDirectory}/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${logger} [${threadid}:${threadname}] ${message}${onexception: ${newline}${exception:format=tostring}}"
            archiveAboveSize="5120000"
            archiveNumbering="Sequence"
            concurrentWrites="true"
            keepFileOpen="false" />
      <target name="debugger" xsi:type="Debugger" layout="&lt;${logger:shortName=true}&gt; ${message}${onexception: ${newline}${exception:format=tostring}}"/>
      <target xsi:type="OutputDebugString" name="ds" layout="${message}"  />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="ds"/>
      <logger name="*" minlevel="Trace" writeTo="debugger"/>
      <!--<logger name="*" minlevel="Trace" writeTo="file"/>
      <logger name="*" minlevel="Trace" writeTo="debugger"/>-->
    </rules>
  </nlog>
</configuration>