<?xml version="1.0" encoding="utf-8"?>
<MediConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Peers>
    <PeerConfig xsi:type="ClientPeerConfig">
      <Codec xsi:type="BecCodecConfig" />
      <Transport xsi:type="TcpTransportClientConfig">
        <RemoteIp>127.0.0.1</RemoteIp>
        <RemotePort>1596</RemotePort>
      </Transport>
      <BlockBroadcast>false</BlockBroadcast>
    </PeerConfig>
  </Peers>
</MediConfig>