<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0.1"/>
    </startup>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:53715/OperationService.svc" binding="basicHttpBinding" contract="Gorba.Center.Common.ServiceModel.IOperationService" name="OperationService"/>
    </client>
  </system.serviceModel>
</configuration>
