<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - icenter Portal</title>
    {Meta}


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">icenter Portal</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/About">About</a></li>
                    <li><a href="/Contact">Contact</a></li>
                </ul>
                {Login}
            </div>
        </div>
    </div>
    <div class="container body-content">
        

<h2>Contact.</h2>

<address>
    Luminator Technology Group<br />
    900 Klein Road <br />
    Plano, Texas 75074
</address>

<address>
    <strong>Website:</strong>   <a href="http://www.luminatortechnologygroup.com">http://www.luminatortechnologygroup.com/</a>
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:info@luminatortechnologygroup.com">info@luminatortechnologygroup.com</a>
</address>
        <hr />
        <footer>
            <p>&copy; 2016 - Luminator Technology Group</p>
        </footer>
    </div>

    
</body>
</html>