<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page - icenter Portal</title>
	{Meta}


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">icenter Portal</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/About">About</a></li>
                    <li><a href="/Contact">Contact</a></li>
                </ul>
				{Login}
            </div>
        </div>
    </div>
    <div class="container body-content">
        


<div class="jumbotron">
    <h1>icenter Portal</h1>
    <p class="lead">Welcome to your personal icenter.</p>

</div>

<div class="row">
    <div class="col-md-6">
        <h2>Applications</h2>
        <p>
            Download icenter applications with ClickOnce (requires Internet Explorer 9).
        </p>
        <p><a class="btn btn-default" href="/Applications">Download &raquo;</a></p>
    </div>
</div>
        <hr />
        <footer>
            <p>&copy; 2016 - Luminator Technology Group</p>
        </footer>
    </div>

    
</body>
</html>