<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Luminator.Motion.WpfIntegratedTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="AudioSwitch.WpfSerialPortTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AudioSwitch.WpfSerialPortTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <applicationSettings>
    <Luminator.Motion.WpfIntegratedTester.Properties.Settings>
      <setting name="DefaultMinimumBrightness" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="DefaultMaximumBrightness" serializeAs="String">
        <value>80</value>
      </setting>
    </Luminator.Motion.WpfIntegratedTester.Properties.Settings>
    <AudioSwitch.WpfSerialPortTester.Properties.Settings>
      <setting name="UseLoopBack" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AudioDelayOptions" serializeAs="String">
        <value>0, 250, 500, 1000, 5000 </value>
      </setting>
      <setting name="FakeGpioData" serializeAs="String">
        <value>False</value>
      </setting>
    </AudioSwitch.WpfSerialPortTester.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <AudioSwitch.WpfSerialPortTester.Properties.Settings>
      <setting name="InteriorActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExteriorActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InteriorVolume" serializeAs="String">
        <value>70</value>
      </setting>
      <setting name="ExteriorVolume" serializeAs="String">
        <value>70</value>
      </setting>
      <setting name="AudioBoxComPort" serializeAs="String">
        <value>COM6</value>
      </setting>
    </AudioSwitch.WpfSerialPortTester.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
