<?xml version="1.0" encoding="utf-8"?>
<MediConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Peers>
    <PeerConfig xsi:type="ClientPeerConfig">
      <Codec xsi:type="BecCodecConfig" />
      <Transport xsi:type="TcpTransportClientConfig" />
      <IsGateway>false</IsGateway>
    </PeerConfig>
  </Peers>
  <Services />
</MediConfig>