<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="FtpUserName" value="LuminatorFTP" />
    <add key="FtpPassword" value="hjkl!!" />
    <add key="MulticastIp" value="239.255.100.2" />
    <add key="MulticastPort" value="31000" />
    <add key="ProgramStepInterval" value="5000" />
    <add key="UseWindowsInputSimulator" value="false" />
    <add key="CreateCompleteStatus" value="true"/>
  </appSettings>
</configuration>