<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <add key="EciDllFileName" value="ECIX_DLL_Standard.dll" />
    <add key="InternetEciPortNumber" value="10200" />
    <add key="IntranetEciPortNumber" value="30008" />
    <add key="EciConnectionTimeout" value="120" />
    <add key="InternetEciMaxSimultaneousConnections" value="3" />
    <add key="IntranetEciMaxSimultaneousConnections" value="10" />
    <add key="QnetPortNumber" value="10000" />
    <add key="QnetMaxSimultaneousConnections" value="4000" />
    <add key="QnetTimeoutCheckingInterval" value="10" />
    <add key="QnetConnectionTimeout" value="600" description="Timeout in seconds before disconnecting the qnet client when client doesn't send data." />
    <add key="QnetMaxStateRequestCount" value="3" description="Number of times that the comms send state request before close a connection." />
	  <add key="IntranetIqubePortNumber" value="40008" description="Port number of the iqube socket server for ascii frames." />
    <add key="IntranetIqubeMaxSimultaneousConnections" value="2" />
   <!-- <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_INotifyCommSMessage" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
	</bindings>
    <client>
      <endpoint address="http://localhost:8732/Lite_ITCS_Background/CommSMessageNotificationService/"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotifyCommSMessage"
          contract="INotifyCommSMessage" name="BasicHttpBinding_INotifyCommSMessage" />
    </client>
  </system.serviceModel> -->
</configuration>
