<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true"/>
  </system.web>

  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
			<binding closeTimeout="00:01:00" listenBacklog="256" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="256" maxReceivedMessageSize="2147483647" openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00">
			<readerQuotas maxArrayLength="2147483647" maxBytesPerRead="65536" maxDepth="512" maxStringContentLength="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="Gorba.Center.CommS.Wcf.Host.CommsService">
        <endpoint address="net.tcp://localhost:8000/CommS/ManagementService" binding="netTcpBinding" contract="Gorba.Center.CommS.Wcf.ServiceModel.ICommsService"/>
      </service>
      <service name="Gorba.Center.CommS.Wcf.Host.CommsMessagingService">
        <endpoint address="net.tcp://localhost:8000/CommS/MessagingService" binding="netTcpBinding" contract="Gorba.Center.CommS.Wcf.ServiceModel.ICommsMessagingService"/>
      </service>
      <service name="Gorba.Center.CommS.Wcf.Host.CommsMessageSubscriptionService">
        <endpoint address="net.tcp://localhost:8000/CommS/MessageSubscriptionService" binding="netTcpBinding" contract="Gorba.Center.CommS.Wcf.ServiceModel.ICommsMessageSubscription"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="False"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  <diagnostics wmiProviderEnabled="true">
      <messageLogging 
           logEntireMessage="true" 
           logMalformedMessages="true"
           logMessagesAtServiceLevel="true" 
           logMessagesAtTransportLevel="true"
           maxMessagesToLog="3000" 
       />
  </diagnostics>
  </system.serviceModel>
<system.diagnostics>
<trace autoflush="true" indentsize="3" />
  <sources>
    <source name="System.ServiceModel"
            switchValue="Information, ActivityTracing"
            propagateActivity="true" >
      <listeners>
        <add name="xml"/>
      </listeners>
    </source>
    <source name="System.ServiceModel.MessageLogging">
      <listeners>
        <add name="xml"/>
      </listeners>
    </source>
  </sources>
  <sharedListeners>
  <!-- Select the desired litener. The RollingXmlWriterTraceListener is experimental. The Gorba.Lef.WcfExtensions.Tracing dll is required -->
  <add name="xml" 
                   type="System.Diagnostics.XmlWriterTraceListener" 
                   initializeData= "D:\Gorba\Center\Logs\Comm.S\Traces.svclog" />
  <!-- <add name="xml" 
                   type="Gorba.Lef.WcfExtensions.Tracing.RollingXmlWriterTraceListener, Gorba.Lef.WcfExtensions.Tracing" 
                   initializeData= "D:\Gorba\Center\Logs\Comm.S\Traces.svclog" /> -->
  </sharedListeners>
 </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
