<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="D:\Gorba\Center\Logs\Comm.S" />
  <targets async="true">
    <!-- Target globale -->
    <target name="GlobalLogFile" xsi:type="File" fileName="${logDirectory}\${shortdate}_CommSConsole.log"
            archiveAboveSize="41943040"
            archiveNumbering="Sequence"
            autoFlush="true"
			keepFileOpen="false"
            maxArchiveFiles="10"
            layout="${longdate} ${uppercase:${level}} ${logger} [${threadid}:${threadname}] ${message}${onexception: ${newline}${exception:format=tostring}}"/>
    
    <target name="GlobalLogConsole" xsi:type="ColoredConsole"/>

    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
    <!-- Traget for Comms -->
    <target name="asciilog" xsi:type="File" fileName="${logDirectory}\DATA_${shortdate}.log"
              keepFileOpen="false"
			  autoFlush="true"
              layout="${time} [${uppercase:${level}}] ${message}"
              archiveFileName="${logDirectory}\${date:format=yyyy-MM}\bck_DATA_${shortdate}_{##}.log"
            archiveAboveSize="41943040"
            archiveNumbering="Sequence"
            maxArchiveFiles="10"
              archiveEvery="Day"
            />
    
    <!-- Target for eci stack, supply logs as ECi-X did -->
    <target name="stack_ascii" xsi:type="File"
        fileName="${logDirectory}\DATA_${shortdate}.txt"
        keepFileOpen="true"
        layout="${longdate} ${message}${onexception: ${newline}${exception:format=tostring}}" />

    <!-- Target for qnet stack -->
    <target name="QnetStackAsciiFile" xsi:type="File"
           fileName="${logDirectory}\QnetStack_${shortdate}.txt"
           keepFileOpen="true"
           layout="${longdate} ${message}${onexception: ${newline}${exception:format=tostring}}" />

  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="EciAsciiFile" minlevel="Off" final="true" />
    <logger name="CommsEngine" minlevel="Debug" writeTo="asciilog, GlobalLogConsole" final="true"/>
    <logger name="GlobalLog" minlevel="Debug" writeTo="GlobalLogConsole,GlobalLogFile" final="true" />
    <logger name="GlobalLog" minlevel="Trace" writeTo="GlobalLogFile" />
    <logger name="QnetStackLogger" minlevel="Info" writeTo="QnetStackAsciiFile" />
    
  </rules>  
</nlog>