<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets async="true">
    <target xsi:type="File" name="file" fileName="${processname}.log"
            layout="${longdate} ${uppercase:${level}} ${logger} [${threadid}:${threadname}] ${message}${onexception: ${newline}${exception:format=tostring}}"
            concurrentWrites="true"
            keepFileOpen="false" />

    <target xsi:type="ColoredConsole" name="console"
            layout="${time} ${uppercase:${level}} &lt;${logger:shortName=true}&gt; ${message}${onexception: ${newline}${exception:format=tostring}}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Off" writeTo="file" />
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>