<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Luminator.Multicast.ReceiveSolo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <Luminator.Multicast.ReceiveSolo.Properties.Settings>
      <setting name="FtpUserName" serializeAs="String">
        <value>swt</value>
      </setting>
      <setting name="FtpPassword" serializeAs="String">
        <value>swtswt</value>
      </setting>
      <setting name="FtpUrl" serializeAs="String">
        <value>swdev230</value>
      </setting>
      <setting name="MulticastIp" serializeAs="String">
        <value>239.255.100.2</value>
      </setting>
      <setting name="MulticastPort" serializeAs="String">
        <value>31000</value>
      </setting>
      <setting name="ProgramStepInterval" serializeAs="String">
        <value>25000</value>
      </setting>
      <setting name="MulticastKeepAlive" serializeAs="String">
        <value>False</value>
      </setting>
    </Luminator.Multicast.ReceiveSolo.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
